.products__details {
  /* card design */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.product-details-top {
  text-align: center;
  margin-bottom: 20px;
}

.product-image {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-details {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 2rem;
}

.product-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-details button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.product-details button:hover {
  background-color: #0062cc;
}

@media screen and (min-width: 768px) {
  .product-description {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .product-image {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .product-details {
    text-align: left;
  }
}
